In [18]:
import os    
from dotenv  import load_dotenv
from pathlib import Path
import requests
import pandas as pd
pd.options.display.max_colwidth = 600  # Set Full Display

import datetime
from dateutil import relativedelta
from dateutil.relativedelta import relativedelta
from datetime import datetime, timedelta

import ast
# import json

In [ ]:
suburb="Glen_Waverley"
suburb_search = "glen-waverley-vic-3150"

In [ ]:

suburb="Mount_Waverley"
suburb_search = "mount-waverley-vic-3149"

In [ ]:
suburb="Forest_Hill"
suburb_search = "forest-hill-vic-3131"

In [31]:
suburb="Vermont_South"
suburb_search = "vermont-south-vic-3133"

In [19]:
suburb="Mitcham"
suburb_search = "mitcham-vic-3132"

In [54]:
suburb="Vermont"
suburb_search = "vermont-vic-3133"

## First Key:

In [20]:
load_dotenv(dotenv_path = Path("C:/Users/Leon/API_keys/.env"))
auproperty_api=os.getenv('auproperty_vincent2')
type(auproperty_api)

str

In [21]:
auth_url = 'https://api2.aupropertyreport.com/api/auth'

auth_response = requests.post(auth_url, data = {
                        'email':"test@gmail.com",
                        'api_key':auproperty_api,
                        })
auth_token = auth_response.json() 
access_token = auth_token['data']["token"]
auth = {"Authorization":"Bearer " + access_token}
auth

{'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaTIuYXVwcm9wZXJ0eXJlcG9ydC5jb20vYXBpL2F1dGgiLCJpYXQiOjE2NTAwODc2NTEsImV4cCI6MTY1MDE3NDA1MSwibmJmIjoxNjUwMDg3NjUxLCJqdGkiOiJBSWZTb0xRaXVqTHRpQmRmIiwic3ViIjozNywicHJ2IjoiNDBhNDZkZjhmNTlkN2E5ZGVkZDc0NjRkZDI2NTNjOGIxNzE2ZTBiZCIsInBsYW4iOm51bGx9.oHRceOdlCsHDY3JKP3qQlcPKl6rp0rPl6MikqRhuICw'}

In [ ]:
# Overwrite, initiate second API key directly !!
property_search_respond={}

In [ ]:
property_search_url = "https://api2.aupropertyreport.com/api/property/search?q=3+17+hillcrest+ave+chadstone+vic+3148"

# GET Request
property_search_request = requests.get(property_search_url,headers=auth,params={"limit":"50"})
property_search_respond = property_search_request.json()
property_search_respond

Exceed: {'message': 'You have exceeded your rate limit.', 'status_code': 429}

Normal:  [{'address': '3/17 Hillcrest Avenue, Chadstone Vic 3148',
  'code': 'unit-3-17-hillcrest-ave-chadstone-vic-3148',
  'state': 'VIC',
  'suburb': 'Chadstone',
  'postcode': '3148'}]

In [ ]:
# 由于 address code search 的 respond 都是 list, 即使是空的，或者多个的，用来check rate-limit
if isinstance(property_search_respond, dict):

    auproperty_api=os.getenv('auproperty_vincent2')

    auth_url = 'https://api2.aupropertyreport.com/api/auth'

    auth_response = requests.post(auth_url, data = {
                        'email':"leon20130301@hotmail.com",
                        'api_key':os.getenv('auproperty_vincent'),
                        })
    auth_token = auth_response.json() 
    access_token = auth_token['data']["token"]
    auth = {"Authorization":"Bearer " + access_token}
    print(auth) # 如果没有任何显示，则说明没有使用这个 API key

# History Analysis:

### Initialization: Loading saved data

In [ ]:
# use r -- to avoid unicode error !
df_history_path=Path(f'Address_Code_History_Combined_{suburb}.xlsx')
df_history = pd.read_excel(df_history_path, parse_dates=True)

In [ ]:
history_df = df_history[["address_check","recent_history"]]
print(history_df.info())
history_df.sample(5)

New 非常注意:

先排除掉 Null:

再排除 [ ]：

In [ ]:
history_df2=history_df[history_df["recent_history"].notnull()]
history_df2B = history_df2[history_df2["recent_history"].str.contains("{")]
history_df2B

篩選 Sold:

In [ ]:
history_df3 = history_df2B[history_df2B["recent_history"].str.contains("Sold")]
history_df3 = history_df3.reset_index(drop=True)
history_df3

提取日期：String

In [ ]:
sold_date=[]
for i, row in history_df3.iterrows(): # print(i) # row number
    sold_date.append(ast.literal_eval(row["recent_history"])['date'])

sold_date_df=pd.DataFrame(sold_date)   
sold_date_df.columns = ["Date"]
sold_date_df = sold_date_df.reset_index(drop=True)
sold_date_df

重組：

非常注意，兩個 df 必須 reset index -- 不然會 miss match !!

In [ ]:
history_df4 = pd.concat([history_df3,sold_date_df],axis=1)
history_df4

轉換 Datatime:

In [ ]:
history_df4["Date"] = pd.to_datetime(history_df4["Date"])
history_df4

In [ ]:
# Check Date type:
history_df4.iloc[5]["Date"]

篩選，時間到現在間隔 5年以上的：

In [ ]:
now_date = datetime.now()
now_date

In [ ]:
# 5年前：
fiveyrsago = now_date - relativedelta(years=5)
benckmark=datetime.strftime(fiveyrsago,"%Y-%m-%d")
# benckmark=datetime.strptime(benckmark,"%Y-%m-%d")
benckmark

選擇 5 年以上的數據：

In [ ]:
history_df5 = history_df4[history_df4["Date"]<benckmark]
history_df5 = history_df5.sort_values(by=["Date"],ascending = False)
history_df5

In [ ]:
# create excel writer object
writer=pd.ExcelWriter(f'Analytics_History_Analysis_{suburb}.xlsx')
# write dataframe to excel
history_df5.to_excel(writer, index=False)
# save the excel##Ddaddddsddd
writer.save()
print('DataFrame is written successfully to Excel File.')

# Suburb For Sale Properties: Days on the market

In [22]:
# use r -- to avoid unicode error !
filesaved_forsale_path=Path(rf'C:\Users\LEON\test\domain\Suburb_for_Sale_{suburb}.xlsx')
filesaved_forsale_df = pd.read_excel(filesaved_forsale_path, parse_dates=True)
filesaved_forsale_df.head(2)

,state,address,suburb_code,suburb_name,postcode,image,type,bed,bath,car,lat,lng,land,list_date,list_price,days_on_market,gnaf_pid,pu_id,agent_code
0,VIC,2/39 Deep Creek Road,mitcham-vic-3132,Mitcham,3132,https://i7.auhouseprices.com/img/MmRXVnpmWkMwSXdtdjBPN2NEZUpkWk1SK1YrcDB2ajNUd2MwaTM5SzhQUkI0ZVNMTnBkK0dyS2JxckpzWEVBY1VSbkg1aUV1NjlQOEFzTURFTTJ2b2RsZ2dMNGpEV2Z4aTFrM1R5blVTdXVrWTNCMmFpR0EybFJaQ2o5YXQyblNyUWhnTDRFZUJGWHhDeFI4d244SGpnPT0/preview.jpg,unit,2,1,1,-37.814722,145.209476,NaN,2022-04-14,"$640,000 - $690,000",2,GAVIC419578432,19720881971,VIC266512
1,VIC,3/5 Tarrangower Avenue,mitcham-vic-3132,Mitcham,3132,https://i7.auhouseprices.com/img/MmRXVnpmWkMwSXdtdjBPN2NEZUpkWk1SK1YrcDB2ajNUd2MwaTM5SzhQVEtCemZ6ZHFMK3BCdERrL1pmeTNNcDM1cElPWkp3RTh4NHVSTWJQeFN2NVhVYzZIWHJmWkI1MHJuRTRDOGttUE9BdWgwc05LYmgwQ3grT0R0ZTZxRnEzTVVsc2JSM09teEpOOEdZRVB4S1p3PT0/preview.jpg,unit,2,1,1,-37.813605,145.213193,461.0,2022-04-14,"$620,000 - $660,000",2,GAVIC421863964,19783555971,VIC10464

In [23]:
for_sale_df = filesaved_forsale_df[["address","suburb_name","suburb_code","type","bed","bath","car","list_date","list_price","days_on_market"]]
print(for_sale_df.info())
for_sale_df.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 10 columns):
address           59 non-null object
suburb_name       59 non-null object
suburb_code       59 non-null object
type              59 non-null object
bed               59 non-null int64
bath              59 non-null int64
car               59 non-null int64
list_date         59 non-null object
list_price        46 non-null object
days_on_market    59 non-null int64
dtypes: int64(4), object(6)
memory usage: 4.7+ KB
None

,address,suburb_name,suburb_code,type,bed,bath,car,list_date,list_price,days_on_market
4,1/22 Warnes Road,Mitcham,mitcham-vic-3132,house,3,2,2,2022-04-12,"$950,000 - $1,045,000",4
2,523B/1 Colombo Street,Mitcham,mitcham-vic-3132,apartment,1,1,1,2022-04-14,"$300,000 - $320,000",2
24,22 Nara Road,Mitcham,mitcham-vic-3132,house,4,3,2,2022-03-18,$1.4m - $1.54m,29
3,3/6 Rupert Street,Mitcham,mitcham-vic-3132,unit,2,1,2,2022-04-12,"$780,000 - $840,000",4
12,2/113 Brunswick Road,Mitcham,mitcham-vic-3132,townhouse,2,2,2,2022-04-05,"$795,000 - $870,000",11

In [24]:
for_sale_df2=for_sale_df[for_sale_df["days_on_market"]>=30]
for_sale_df2=for_sale_df2.sort_values(by=["days_on_market"],ascending=True)
for_sale_df2

,address,suburb_name,suburb_code,type,bed,bath,car,list_date,list_price,days_on_market
25,5/11 Doncaster East Road,Mitcham,mitcham-vic-3132,unit,2,2,1,2022-03-17,"$679,950",30
26,2/235 Mitcham Road,Mitcham,mitcham-vic-3132,townhouse,3,2,2,2022-03-17,"$850,000",30
27,64 Brunswick Road,Mitcham,mitcham-vic-3132,house,3,2,2,2022-03-17,NaN,30
28,1/467 Mitcham road,Mitcham,mitcham-vic-3132,townhouse,3,3,1,2022-03-16,NaN,31
29,2/10 Carween Avenue,Mitcham,mitcham-vic-3132,townhouse,4,3,2,2022-03-16,"$1,180,000 - $1,280,000",31
30,1/60 Heatherdale Road,Mitcham,mitcham-vic-3132,townhouse,4,2,2,2022-03-15,"$900,000 - $990,000",32
31,17 Manorwood Place,Mitcham,mitcham-vic-3132,house,3,2,2,2022-03-15,NaN,32
32,23 Highland Avenue,Mitcham,mitcham-vic-3132,house,4,2,2,2022-03-10,"$1,450,000 - $1,550,000",37
33,2/37 Harrison Street,Mitcham,mitcham-vic-3132,townhouse,3,2,2,2022-03-09,"$935,000",38
34,1/1 Howard Street,Mitcham,mitcham-vic-3132,house,3,2,1,2022-03-08,"$900,000 - $990,000",39
35,477 Mitcham Road,Mitcham,mitcham-vic-3132,house,4,1,2,2022-03-04,"$950,000 - $990,000",43
36,1/51 Deep Creek Road,Mitcham,mitcham-vic-3132,house,3,2,1,2022-03-02,"$945,000",45
37,2 Tirana Street,Mitcham,mitcham-vic-3132,house,4,2,2,2022-02-21,NaN,54
38,2 Ferguson Street,Mitcham,mitcham-vic-3132,house,4,2,2,2022-02-21,"$1,700,000-$1,800,000",54
39,"Lot 178a, 178A Quarry Road",Mitcham,mitcham-vic-3132,residential land,0,0,0,2022-02-18,"$950,000 TO $995,000",57
40,299 Mitcham Road,Mitcham,mitcham-vic-3132,house,3,1,2,2022-02-17,"$790,000 - $865,000",58
41,1/33 Hedge End Road,Mitcham,mitcham-vic-3132,townhouse,4,2,2,2022-02-16,"$1,329,000",59
42,517b/1-19 Colombo Street,Mitcham,mitcham-vic-3132,apartment,2,1,1,2022-02-03,"$415,000-$455,000",72
43,54 Barkly Terrace,Mitcham,mitcham-vic-3132,house,2,1,2,2022-02-02,"$895,000 - $950,000",73
44,102A /1-19 Colombo Street,Mitcham,mitcham-vic-3132,apartment,1,1,1,2022-01-24,"$295,000 - $320,000",82
45,56 Heatherdale Road,Mitcham,mitcham-vic-3132,house,3,2,2,2022-01-17,NaN,89
46,28 Good Governs Street,Mitcham,mitcham-vic-3132,house,3,1,2,2022-01-10,"$865,000 - $895,000",96
47,3/16 Clive Street,Mitcham,mitcham-vic-3132,townhouse,4,3,2,2022-01-09,NaN,97
48,12 Benares Street,Mitcham,mitcham-vic-3132,house,4,2,0,2021-12-02,"$1,550,000 - $1,700,000",135
49,203/339 Mitcham Road,Mitcham,mitcham-vic-3132,apartment,1,1,1,2021-11-24,"$310,000 - $340,000",143
50,249 Mitcham Road,Mitcham,mitcham-vic-3132,house,4,1,2,2021-11-04,NaN,163
51,1/23 Ian Crescent,Mitcham,mitcham-vic-3132,unit,3,1,2,2021-10-05,"$950,000",193
52,305/339 Mitcham Road,Mitcham,mitcham-vic-3132,apartment,2,1,1,2021-07-29,"$425,000 - $465,000",261
53,1-9 Deep Creek Road,Mitcham,mitcham-vic-3132,residential land,0,0,0,2021-07-08,"$1,400,000 - $1,500,000",282
54,2/16 Heatherdale Road,Mitcham,mitcham-vic-3132,house,4,2,2,2021-06-30,NaN,290
55,104/569 Whitehorse Road,Mitcham,mitcham-vic-3132,apartment,2,2,1,2021-05-18,NaN,333
56,2/16 Clive St,Mitcham,mitcham-vic-3132,townhouse,3,3,2,2020-03-20,NaN,757
57,4-8 Heatherdale Rd,Mitcham,mitcham-vic-3132,townhouse,4,3,2,2019-11-21,NaN,877
58,5/6 Percy Street,Mitcham,mitcham-vic-3132,townhouse,3,2,2,2018-06-29,"$795,000",1387

### Attache History:

In [25]:
for_sale_df2["address2"]=for_sale_df2["address"].str.replace("/","+").str.replace(" ","+").str.replace("-","+")
for_sale_df2["address2"]=for_sale_df2["address2"]+"+"+for_sale_df2["suburb_code"]
for_sale_df2["address2"]=for_sale_df2["address2"].str.replace("-","+")
for_sale_df2=for_sale_df2.reset_index(drop=True)
print(for_sale_df2.info())
for_sale_df2.sample(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 11 columns):
address           34 non-null object
suburb_name       34 non-null object
suburb_code       34 non-null object
type              34 non-null object
bed               34 non-null int64
bath              34 non-null int64
car               34 non-null int64
list_date         34 non-null object
list_price        23 non-null object
days_on_market    34 non-null int64
address2          34 non-null object
dtypes: int64(4), object(7)
memory usage: 3.0+ KB
None

,address,suburb_name,suburb_code,type,bed,bath,car,list_date,list_price,days_on_market,address2
3,1/467 Mitcham road,Mitcham,mitcham-vic-3132,townhouse,3,3,1,2022-03-16,NaN,31,1+467+Mitcham+road+mitcham+vic+3132
0,5/11 Doncaster East Road,Mitcham,mitcham-vic-3132,unit,2,2,1,2022-03-17,"$679,950",30,5+11+Doncaster+East+Road+mitcham+vic+3132

In [26]:
property_search_respond

[]

In [27]:
# Loop over dataframe and make API call:
# Initialization:
list_address_code=[]

for ind in for_sale_df2.index:
    key_word_addresscode = for_sale_df2.iloc[ind]["address2"]
    property_search_url = f"https://api2.aupropertyreport.com/api/property/search?q={key_word_addresscode}"
    property_search_request = requests.get(property_search_url,headers=auth,params={"limit":"50"})
    property_search_respond = property_search_request.json()

    if "message" not in property_search_respond: # if not isinstance(property_search_respond, dict):

        if property_search_respond != []:
    
            if len(property_search_respond)==1: # Unique address            
                list_address_code.append([property_search_respond[0]['code']]) # list 里 第一个 element 是 dict 的key 是 code

            else: # multiple addresses # ie. 2 cooper avenue glen waverley -- gives a list of Dictionary                
                # Initialization: 
                condition=0 # maybe more than 2 states ie 1 0 0, or 0 1 0, or 0 0 1
                mathch=[]
                notmatch=[]

                for each_dict in property_search_respond:                 
                    a=each_dict['code'].replace("-","").upper() #如果是address则含有 / 和 space, code 只有“-”
                    b=for_sale_df2.iloc[ind]["address2"].replace("+","").upper()
                    c=("unit"+ b).upper()

                    if "unit" in each_dict["code"] and c[:9]==a[:9]: # 前5+4个character一致 含"unit"
                        mathch.append(each_dict) # 暂存
                        condition +=1 # 已经找到, 更新状态
                
                    elif "unit" not in each_dict["code"] and a[:5]==b[:5]: # 前5个character一致
                        mathch.append(each_dict) # 暂存
                        condition +=1 # 已经找到, 更新状态
                
                    else:
                        notmatch.append(each_dict) # 暂存

                if condition>0: # 等到 for lopp 完成之后
                    list_address_code.append([mathch[0]['code']])
                    notmatch=[] # Reset 暂存 # 多个中 找到一个完全match的 那么其他近似的都不要了

                else: # 完全 match 不上的，存下来
                    list_address_code.append([notmatch]) # 把dict 集中在一个 dataframe 的 cell里，list of dicts
                    # 非常注意：能不是 notmatch[0] -- 不然只选了这个list里面第一个 element (一个dict)
        else:
            list_address_code.append(['[]'])
    else:
        print("ERROR IN RESPOND !!!!!")
        break

# At the end, convert the list to dataframe:
df_temp_addresscode = pd.DataFrame (list_address_code, columns = ['address_code'])    

# update the master dataframe:
address_df=pd.concat([for_sale_df2,df_temp_addresscode],axis=1)
address_resetindex = address_df.reset_index(drop=True)
print("Successful")

Successful

In [61]:
property_search_respond

[{'address': '51 Betula Avenue, Vermont Vic 3133',
  'code': '51-betula-ave-vermont-vic-3133',
  'state': 'VIC',
  'suburb': 'Vermont',
  'postcode': '3133'},
 {'address': '2/51 Betula Avenue, Vermont Vic 3133',
  'code': 'unit-2-51-betula-ave-vermont-vic-3133',
  'state': 'VIC',
  'suburb': 'Vermont',
  'postcode': '3133'}]

In [28]:
address_resetindex.tail(2)

,address,suburb_name,suburb_code,type,bed,bath,car,list_date,list_price,days_on_market,address2,address_code
32,4-8 Heatherdale Rd,Mitcham,mitcham-vic-3132,townhouse,4,3,2,2019-11-21,NaN,877,4+8+Heatherdale+Rd+mitcham+vic+3132,[]
33,5/6 Percy Street,Mitcham,mitcham-vic-3132,townhouse,3,2,2,2018-06-29,"$795,000",1387,5+6+Percy+Street+mitcham+vic+3132,[]

In [29]:
# address_resetindex[(address_resetindex["address_code"]!="[]")]

In [30]:
# Initialization:
list_address_code=[] # to check if matching
list_address=[]
list_full_history=[]
list_history_only=[]
list_recent_history=[]

# Loop over dataframe and make API call:
for index in address_resetindex.index:
    each = address_resetindex.iloc[index]["address_code"]

    if "[" not in each: # 非常注意：从0开始，所以call -1个
        property_history_url = f"https://api2.aupropertyreport.com/api/property/{each}/history"
        # GET Request
        property_history_request = requests.get(property_history_url,headers=auth,params={"limit":"50"})
        property_history_respond=property_history_request.json()

        if "message" not in property_history_respond:

            if "[" not in each:
                list_address_code.append([property_history_respond["data"]["address_code"]])
                list_address.append([property_history_respond["data"]["address"]])
                list_full_history.append([property_history_respond])
                list_history_only.append([property_history_respond["data"]["history"]["data"]])
        
                if  len(property_history_respond["data"]["history"]["data"])!= 0:
                    list_recent_history.append([property_history_respond["data"]["history"]["data"][0]])
                else:
                    list_recent_history.append([[]]) #非常注意：因爲沒有像上面if中多套一層【】所以是 null值，空的=是想要的狀態！
            else:
                list_address_code.append([[]])
                list_address.append([[]])
                list_full_history.append([[]])
                list_history_only.append([[]])
                list_recent_history.append([[]])
        else:   
            print("ERROR IN RESPOND")
            list_address_code.append([[]])
            list_address.append([[]])
            list_full_history.append([[]])
            list_history_only.append([[]])
            list_recent_history.append([[]])
    
    elif "[" in each:
        list_address_code.append([[]])
        list_address.append([[]])
        list_full_history.append([[]])
        list_history_only.append([[]])
        list_recent_history.append([[]])    
            
print("Successful")

Successful

In [31]:
# At the end, convert the list to dataframe:
df_list_address_code = pd.DataFrame (list_address_code, columns = ['address_check'])  
df_list_address = pd.DataFrame (list_address, columns = ['address_name'])   
df_list_full_history = pd.DataFrame (list_full_history, columns = ['full_history'])    
df_list_history_only = pd.DataFrame (list_history_only, columns = ['history_only'])   
df_list_recent_history = pd.DataFrame (list_recent_history, columns = ['recent_history'])  
df_temp=pd.concat([df_list_address_code,df_list_address,df_list_full_history,df_list_history_only,df_list_recent_history],sort=False,axis=1)

# update the master dataframe:
updated_df=pd.concat([address_resetindex,df_temp],axis=1,sort=False)
updated_df["address2"]=updated_df["address"]+" "+updated_df["suburb_code"]
updated_df_resetindex = updated_df.reset_index(drop=True)

In [32]:
(updated_df_resetindex["type"]=="house").sum()

15

In [33]:
updated_df_resetindex2=updated_df_resetindex[(updated_df_resetindex["type"]=="house")\
    |(updated_df_resetindex["type"]=="townhouse")\
        |(updated_df_resetindex["type"]=="unit")].reset_index(drop=True)

updated_df_resetindex2.tail(1)

,address,suburb_name,suburb_code,type,bed,bath,car,list_date,list_price,days_on_market,address2,address_code,address_check,address_name,full_history,history_only,recent_history
26,5/6 Percy Street,Mitcham,mitcham-vic-3132,townhouse,3,2,2,2018-06-29,"$795,000",1387,5/6 Percy Street mitcham-vic-3132,[],[],[],[],[],[]

In [34]:
# create excel writer object
writer=pd.ExcelWriter(f'Analytics_For_Sale_Analysis_{suburb}_2.xlsx')
# write dataframe to excel
updated_df_resetindex2.to_excel(writer, index=False)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

DataFrame is written successfully to Excel File.

# Suburb Auction Results: 半年範圍，但是沒有 20 Cherry 説明 並不完整 ！！

'Sold',

'Passed In',

'Private Sale',

'Withdrawn Prior To Auction',

In [ ]:
# use r -- to avoid unicode error !
filesaved_auction_path=Path(rf'C:\Users\LEON\test\domain\Auction_Result_{suburb}.xlsx')
filesaved_auction_df = pd.read_excel(filesaved_auction_path, parse_dates=True)
print(filesaved_auction_df.info())
filesaved_auction_df.tail(2)

In [ ]:
auction_result_df = filesaved_auction_df[["address","type","bed","agency","is_sold","sold_date","price","result"]]
print(auction_result_df.info())
auction_result_df.sample(5)

非常注意：

一些房子先 pass in 但是後來賣掉！

In [ ]:
# DataFrame.duplicated(subset=None, keep='first')

In [ ]:
auction_result_df3 = auction_result_df[auction_result_df["address"].duplicated(keep=False)] #顯示全部重複的
auction_result_df3

非常注意：這個是所有重複地址的，且都賣掉的，即使之前沒賣掉。

In [ ]:
auction_result_df4 = auction_result_df3[auction_result_df3["is_sold"]==True]
auction_result_df4

In [ ]:
auction_result_df2=auction_result_df[auction_result_df["is_sold"]!=True]
auction_result_df2

非常注意：如果沒賣掉table中含有，後來被賣掉的，那就篩除！

非常注意 ~ 是 NOT ！！

In [ ]:
# ~auction_result_df2.address.isin(auction_result_df4.address)

In [ ]:
auction_result_df5=auction_result_df2[~auction_result_df2.address.isin(auction_result_df4.address)]
auction_result_df5=auction_result_df5.sort_values(by=["address"],ascending=True)
auction_result_df5

In [ ]:
# create excel writer object
writer=pd.ExcelWriter(f'Analytics_Auction_Analysis_{suburb}.xlsx')
# write dataframe to excel
auction_result_df5.to_excel(writer, index=False)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

# Suburb Sold Properties: 含 20 cherry, 一年範圍

## Initialization: Loading saved data

In [ ]:
# use r -- to avoid unicode error !
filesaved_sold_path=Path(rf'C:\Users\LEON\test\domain\Sold_Result_{suburb}.xlsx')
filesaved_sold_df = pd.read_excel(filesaved_sold_path, parse_dates=True)
print(filesaved_sold_df.info())
filesaved_sold_df.tail(1)

In [ ]:
filesaved_sold_df[filesaved_sold_df["address"]=="3/4 Edna St"]

Inspection:

In [ ]:
auction_result_df[auction_result_df["address"]=="3/4 Edna St"]

In [ ]:
auction_result_df4[auction_result_df4["address"]=="1/3 Fairway Av"]

In [ ]:
auction_result_df[auction_result_df["address"]=="47 Bruce St"]

PS:

非常注意：auction_result 更新不完整，有一些後來 sold, 沒有更新進去，也不在 SOLD PROPERTIES 裏面 ！！！！