In [1]:
import os    
from dotenv  import load_dotenv
from pathlib import Path
import requests
import pandas as pd
pd.options.display.max_colwidth = 600  # Set Full Display

In [2]:

suburb="Glen_Waverley"
suburb_search = "glen-waverley-vic-3150"

In [3]:

suburb="Mount_Waverley"
suburb_search = "mount-waverley-vic-3149"

In [2]:
suburb="Forest_Hill"
suburb_search = "forest-hill-vic-3131"

In [23]:
suburb="Vermont_South"
suburb_search = "vermont-south-vic-3133"

In [33]:
suburb="Mitcham"
suburb_search = "mitcham-vic-3132"

In [37]:
suburb="Vermont"
suburb_search = "vermont-vic-3133"

## First Key:

In [3]:
load_dotenv(dotenv_path = Path("C:/Users/Leon/API_keys/.env"))
auproperty_api=os.getenv('auproperty_vincent2')
type(auproperty_api)

str

In [4]:
auth_url = 'https://api2.aupropertyreport.com/api/auth'

auth_response = requests.post(auth_url, data = {
                        'email':"test@gmail.com",
                        'api_key':auproperty_api,
                        })
auth_token = auth_response.json() 
access_token = auth_token['data']["token"]
auth = {"Authorization":"Bearer " + access_token}
auth

{'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaTIuYXVwcm9wZXJ0eXJlcG9ydC5jb20vYXBpL2F1dGgiLCJpYXQiOjE2NTAwODE2OTcsImV4cCI6MTY1MDE2ODA5NywibmJmIjoxNjUwMDgxNjk3LCJqdGkiOiJzNWxjR1pTSXFHclpwZk1vIiwic3ViIjozNywicHJ2IjoiNDBhNDZkZjhmNTlkN2E5ZGVkZDc0NjRkZDI2NTNjOGIxNzE2ZTBiZCIsInBsYW4iOm51bGx9.6XDmvU7fNB0nurFui-5IhSjPFACmbscZ3jOoqzKedoY'}

In [6]:
# Overwrite, initiate second API key directly !!
property_search_respond={}

In [7]:
property_search_url = "https://api2.aupropertyreport.com/api/property/search?q=3+17+hillcrest+ave+chadstone+vic+3148"

# GET Request
property_search_request = requests.get(property_search_url,headers=auth,params={"limit":"50"})
property_search_respond = property_search_request.json()
property_search_respond

[{'address': '3/17 Hillcrest Avenue, Chadstone Vic 3148',
  'code': 'unit-3-17-hillcrest-ave-chadstone-vic-3148',
  'state': 'VIC',
  'suburb': 'Chadstone',
  'postcode': '3148'}]

Exceed: {'message': 'You have exceeded your rate limit.', 'status_code': 429}

Normal:  [{'address': '3/17 Hillcrest Avenue, Chadstone Vic 3148',
  'code': 'unit-3-17-hillcrest-ave-chadstone-vic-3148',
  'state': 'VIC',
  'suburb': 'Chadstone',
  'postcode': '3148'}]

In [8]:
# 由于 address code search 的 respond 都是 list, 即使是空的，或者多个的，用来check rate-limit
if isinstance(property_search_respond, dict):

    auproperty_api=os.getenv('auproperty_vincent2')

    auth_url = 'https://api2.aupropertyreport.com/api/auth'

    auth_response = requests.post(auth_url, data = {
                        'email':"leon20130301@hotmail.com",
                        'api_key':os.getenv('auproperty_vincent'),
                        })
    auth_token = auth_response.json() 
    access_token = auth_token['data']["token"]
    auth = {"Authorization":"Bearer " + access_token}
    print(auth) # 如果没有任何显示，则说明没有使用这个 API key

In [45]:
# 由于 address code search 的 respond 都是 list, 即使是空的，或者多个的，用来check rate-limit
if isinstance(property_search_respond, dict):

    auproperty_api=os.getenv('auproperty_vincent2')

    auth_url = 'https://api2.aupropertyreport.com/api/auth'

    auth_response = requests.post(auth_url, data = {
                        'email':"pengmel@hotmail.com",
                        'api_key':os.getenv('auproperty_vincent3'),
                        })
    auth_token = auth_response.json() 
    access_token = auth_token['data']["token"]
    auth = {"Authorization":"Bearer " + access_token}
    print(auth) # 如果没有任何显示，则说明没有使用这个 API key

{'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaTIuYXVwcm9wZXJ0eXJlcG9ydC5jb20vYXBpL2F1dGgiLCJpYXQiOjE2NDkwNjQ5NDEsImV4cCI6MTY0OTE1MTM0MSwibmJmIjoxNjQ5MDY0OTQxLCJqdGkiOiJvRXllNWdzdjNVN0x5TGxjIiwic3ViIjozOSwicHJ2IjoiNDBhNDZkZjhmNTlkN2E5ZGVkZDc0NjRkZDI2NTNjOGIxNzE2ZTBiZCIsInBsYW4iOm51bGx9.OYpHlUFlkfIG1vgdr3052BR1tjf0y6Lc9wQk-MAl1RA'}

# Suburb For Sale Properties: Days on the market

## Create File:

In [38]:
reset_df=pd.DataFrame()
# create excel writer object
writer=pd.ExcelWriter(f'Suburb_for_Sale_{suburb}.xlsx')
# write dataframe to excel
reset_df.to_excel(writer, index=False)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

DataFrame is written successfully to Excel File.

## Initialization: Loading saved data

In [39]:
# use r -- to avoid unicode error !
filesaved_forsale_path=Path(rf'C:\Users\LEON\test\domain\Suburb_for_Sale_{suburb}.xlsx')
filesaved_forsale_df = pd.read_excel(filesaved_forsale_path, parse_dates=True)
print(filesaved_forsale_df.info())
filesaved_forsale_df.tail(1)

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrameNone

Empty DataFrame
Columns: []
Index: []

## Updating: 注意：之前 for sale 之後不 for sale 也會被記錄：

Display What is Currently On the Market -- duplicates removed!

In [40]:
for_sale_url = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/buy"
# GET Request
for_sale_request_1 = requests.get(for_sale_url,headers=auth,params={"limit":"50"})
for_sale_respond_1 = for_sale_request_1.json()

if "message" not in for_sale_respond_1:

    # get total page number:
    for_sale_pagesnum = for_sale_respond_1["data"]["buy"]["meta"]["pagination"]["total_pages"]
    # save the first call API data to dataframe:
    for_sale_df = pd.DataFrame(for_sale_respond_1["data"]["buy"]['data'])

    for page_num in range(2,for_sale_pagesnum+1): # first entry saved, range not inclusive last
        for_sale_url_2 = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/buy?page={page_num}"
        # GET Request
        for_sale_request_2 = requests.get(for_sale_url_2,headers=auth,params={"limit":"50"})
        for_sale_respond_2 = for_sale_request_2.json()
        
        if "message" not in for_sale_respond_2:
            for_sale_temp_df = pd.DataFrame(for_sale_respond_2["data"]["buy"]['data'])
            for_sale_df = for_sale_df.append(for_sale_temp_df)
        else:
            print("ERROR IN RESPOND")
            break        
     
    for_sale_df = for_sale_df.drop_duplicates("address",keep="last")

    for_sale_updated_df = filesaved_forsale_df.append(for_sale_df)
    for_sale_updated_df = for_sale_updated_df.drop_duplicates("address",keep="last")

    for_sale_num_duplication = for_sale_updated_df["address"].duplicated().sum()
    
    for_sale_updated_df=for_sale_updated_df.sort_values(by='days_on_market', ascending=True)

    # create excel writer object
    writer=pd.ExcelWriter(f'Suburb_for_Sale_{suburb}.xlsx')
    # write dataframe to excel
    for_sale_updated_df.to_excel(writer, index=False)
    # save the excel
    writer.save()
    print('DataFrame is written successfully to Excel File.')
    print(for_sale_updated_df.info())
    print("---------------------------------------------")
    print(f"Updated Entries: {len(for_sale_updated_df)-len(filesaved_forsale_df)}")
    print("---------------------------------------------")
    print(f"Check for duplication: {for_sale_num_duplication}")
        
else:   
    print("ERROR IN RESPOND")

DataFrame is written successfully to Excel File.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 0 to 32
Data columns (total 19 columns):
state             33 non-null object
address           33 non-null object
suburb_code       33 non-null object
suburb_name       33 non-null object
postcode          33 non-null object
image             33 non-null object
type              33 non-null object
bed               33 non-null int64
bath              33 non-null int64
car               33 non-null int64
lat               33 non-null float64
lng               33 non-null float64
land              33 non-null object
list_date         33 non-null object
list_price        33 non-null object
days_on_market    33 non-null int64
gnaf_pid          33 non-null object
pu_id             33 non-null int64
agent_code        33 non-null object
dtypes: float64(2), int64(5), object(12)
memory usage: 5.2+ KB
None
---------------------------------------------
Updated Entries: 33
---------------------------------------------
Check for duplication: 0

## Check Duplication:

PS: 非常注意：首次測試發現

1) Address available on request -- 即使是不同的，也可以drop 因爲沒有地址；此處是 公寓

2) 發現，極少 property 被反復 list,

3) 發現，這些記錄 是按時間順序，從近到遠排列，

Decision:

因爲 我們是往後面 append, 所以 使用 df.drop_duplicates("address", keep="last"), 即後面出現的唯一，其他前面的是重複的，drop掉。

而且，測試中發現，最近期的只是前面的刷新，只要還在list，更早期的記錄更完整，比如 listing 價格。

input output 都需要 drop!

### Check input duplication:

In [19]:
# filesaved_forsale_df["address"].duplicated().sum()

0

In [ ]:
# filesaved_df[filesaved_df["address"].duplicated()]

### Check update duplication:

In [20]:
for_sale_df["address"].duplicated().sum()

0

In [14]:
# for_sale_df[for_sale_df["address"].duplicated()]

### Check output duplication:

In [21]:
for_sale_updated_df["address"].duplicated().sum()

0

In [22]:
# for_sale_updated_df[for_sale_updated_df["address"].duplicated()]

# Suburb Auction Results: 半年範圍，但是沒有 20 Cherry 説明 並不完整 ！！

'Sold',

'Passed In',

'Private Sale',

'Withdrawn Prior To Auction',

## Initialization: Loading saved data

In [17]:
# use r -- to avoid unicode error !
filesaved_auction_path=Path(rf'C:\Users\LEON\test\domain\Auction_Result_{suburb}.xlsx')
filesaved_auction_df = pd.read_excel(filesaved_auction_path, parse_dates=True)
print(filesaved_auction_df.info())
filesaved_auction_df.tail(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 13 columns):
address        153 non-null object
agency         153 non-null object
bed            153 non-null int64
id             153 non-null int64
is_sold        153 non-null bool
postcode       153 non-null int64
price          153 non-null int64
pu_id          104 non-null float64
result         153 non-null object
sold_date      153 non-null object
state          153 non-null object
suburb_name    153 non-null object
type           153 non-null object
dtypes: bool(1), float64(1), int64(4), object(7)
memory usage: 14.6+ KB
None

,address,agency,bed,id,is_sold,postcode,price,pu_id,result,sold_date,state,suburb_name,type
152,1203/52-54 Osullivan Rd,Grandstand Real Estate,2,421413380,True,3150,660000,NaN,Private Sale,2021-10-09,VIC,Glen Waverley,unit

## Updating:

In [18]:
auction_results_url_1 = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/auction-results"
# GET Request
auction_result_request_1 = requests.get(auction_results_url_1,headers=auth,params={"limit":"50"})
auction_result_respond_1 = auction_result_request_1.json()

if "message" not in auction_result_respond_1:

    # get total page number:
    auction_result_pagesnum = auction_result_respond_1["data"]["auction_results"]["meta"]["pagination"]["total_pages"]
    # save the first call API data to dataframe:
    auction_result_df = pd.DataFrame(auction_result_respond_1["data"]["auction_results"]['data'])

    for page_num in range(2,auction_result_pagesnum+1): # first entry saved, range not inclusive last
        auction_results_url_2 = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/auction-results?page={page_num}"
        # GET Request
        auction_result_request_2 = requests.get(auction_results_url_2,headers=auth,params={"limit":"50"})
        auction_result_respond_2 = auction_result_request_2.json()

        if "message" not in auction_result_respond_2:
            auction_result_temp_df = pd.DataFrame(auction_result_respond_2["data"]["auction_results"]['data'])
            auction_result_df = auction_result_df.append(auction_result_temp_df)
        else:
            print("ERROR IN RESPOND")
            break   

    if "message" not in auction_result_respond_2:            
        auction_result_df = auction_result_df.drop_duplicates("id",keep="last")

        auction_result_updated_df = filesaved_auction_df.append(auction_result_df)
        auction_result_updated_df = auction_result_updated_df.drop_duplicates("id",keep="last")

        auction_result_updated_df=auction_result_updated_df.sort_values(by='sold_date', ascending=False)

        # create excel writer object
        writer=pd.ExcelWriter(f'Auction_Result_{suburb}.xlsx')
        # write dataframe to excel
        auction_result_updated_df.to_excel(writer, index=False)

        auction_result_num_duplication = auction_result_updated_df["id"].duplicated().sum()

        # save the excel
        writer.save()
        print('DataFrame is written successfully to Excel File.')
        print(auction_result_updated_df.info())
        print("---------------------------------------------")
        print(f"Updated Entries: {len(auction_result_updated_df)-len(filesaved_auction_df)}")
        print("---------------------------------------------")
        print(f"Check for duplication: {auction_result_num_duplication}")
    else: 
        print("ERROR IN RESPOND")
else:   
    print("ERROR IN RESPOND")

DataFrame is written successfully to Excel File.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 2
Data columns (total 13 columns):
address        153 non-null object
agency         153 non-null object
bed            153 non-null int64
id             153 non-null int64
is_sold        153 non-null bool
postcode       153 non-null object
price          153 non-null int64
pu_id          104 non-null float64
result         153 non-null object
sold_date      153 non-null object
state          153 non-null object
suburb_name    153 non-null object
type           153 non-null object
dtypes: bool(1), float64(1), int64(3), object(8)
memory usage: 15.7+ KB
None
---------------------------------------------
Updated Entries: 0
---------------------------------------------
Check for duplication: 0

C:\Users\LEON\anaconda3\envs\quantenv\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

## Check Duplication:

PS: 非常注意： 

同一個地址可以重複，比如 auction pass-in了，但是後來 private sale了,

但是， id 不會重複！

In [19]:
# filesaved_auction_df["address"].duplicated().sum()
# filesaved_auction_df[filesaved_auction_df["address"].duplicated()]

In [20]:
# filesaved_auction_df["id"].duplicated().sum()

In [21]:
# filesaved_auction_df[filesaved_auction_df["id"].duplicated()]

# Suburb Sold Properties: 含 20 cherry, 一年範圍

## Initialization: Loading saved data

In [28]:
# use r -- to avoid unicode error !
filesaved_sold_path=Path(rf'C:\Users\LEON\test\domain\Sold_Result_{suburb}.xlsx')
filesaved_sold_df = pd.read_excel(filesaved_sold_path, parse_dates=True)
print(filesaved_sold_df.info())
filesaved_sold_df.tail(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 19 columns):
state                 721 non-null object
address               721 non-null object
suburb_code           721 non-null object
suburb_name           721 non-null object
postcode              721 non-null int64
image                 721 non-null object
type                  721 non-null object
bed                   721 non-null int64
bath                  721 non-null int64
car                   721 non-null int64
lat                   721 non-null float64
lng                   721 non-null float64
land                  512 non-null float64
sold_date             721 non-null object
sold_price            721 non-null int64
gnaf_pid              710 non-null object
pu_id                 721 non-null int64
agent_code            720 non-null object
sold_price_display    584 non-null object
dtypes: float64(3), int64(6), object(10)
memory usage: 107.1+ KB
None

,state,address,suburb_code,suburb_name,postcode,image,type,bed,bath,car,lat,lng,land,sold_date,sold_price,gnaf_pid,pu_id,agent_code,sold_price_display
720,VIC,2/3 Churcher Court,mount-waverley-vic-3149,Mount Waverley,3149,https://farm66.static.flickr.com/65535/51981657745_1457d97335.jpg,townhouse,4,2,2,-37.894041,145.109133,NaN,2022-04-03,1152000,NaN,39785529351,VIC13820,"$1,122,000 - $1,176,000"

## Updating:

In [29]:
sold_results_url_1 = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/sold"
# GET Request
sold_result_request_1 = requests.get(sold_results_url_1,headers=auth,params={"limit":"50"})
sold_result_respond_1 = sold_result_request_1.json()

if "message" not in sold_result_respond_1:
    # get total page number:
    sold_result_pagesnum = sold_result_respond_1["data"]["sold"]["meta"]["pagination"]["total_pages"]
    # save the first call API data to dataframe:
    sold_result_df = pd.DataFrame(sold_result_respond_1["data"]["sold"]['data'])

    for page_num in range(2,sold_result_pagesnum+1): # first entry saved, range not inclusive last
        sold_results_url_2 = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/sold?page={page_num}"
        # GET Request
        sold_result_request_2 = requests.get(sold_results_url_2,headers=auth,params={"limit":"50"})
        sold_result_respond_2 = sold_result_request_2.json()

        if "message" not in sold_result_respond_2:
            sold_result_temp_df = pd.DataFrame(sold_result_respond_2["data"]["sold"]['data'])
            sold_result_df = sold_result_df.append(sold_result_temp_df)
        else:
            print("ERROR IN RESPOND")
            break  

    if "message" not in for_sale_respond_2:         
        sold_result_df = sold_result_df.drop_duplicates(subset=["address","sold_date"],keep="last")

        sold_result_updated_df = filesaved_sold_df.append(sold_result_df)
        sold_result_updated_df = sold_result_updated_df.drop_duplicates(subset=["address","sold_date"],keep="last")

        sold_result_updated_df=sold_result_updated_df.sort_values(by='sold_date', ascending=True)

        # create excel writer object
        writer=pd.ExcelWriter(f'Sold_Result_{suburb}.xlsx')
        # write dataframe to excel
        sold_result_updated_df.to_excel(writer, index=False)

        sold_result_num_duplication = sold_result_updated_df.duplicated(["address","sold_date"]).sum()
        # save the excel
        writer.save()
        print('DataFrame is written successfully to Excel File.')
        print(sold_result_updated_df.info())
        print("---------------------------------------------")
        print(f"Updated Entries: {len(sold_result_updated_df)-len(filesaved_sold_df)}")
        print("---------------------------------------------")
        print(f"Check for duplication: {sold_result_num_duplication}")
        
    else: 
        print("ERROR IN RESPOND")
else:   
    print("ERROR IN RESPOND")

DataFrame is written successfully to Excel File.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 722 entries, 0 to 0
Data columns (total 19 columns):
state                 722 non-null object
address               722 non-null object
suburb_code           722 non-null object
suburb_name           722 non-null object
postcode              722 non-null object
image                 722 non-null object
type                  722 non-null object
bed                   722 non-null int64
bath                  722 non-null int64
car                   722 non-null int64
lat                   722 non-null float64
lng                   722 non-null float64
land                  716 non-null object
sold_date             722 non-null object
sold_price            722 non-null int64
gnaf_pid              722 non-null object
pu_id                 722 non-null int64
agent_code            721 non-null object
sold_price_display    584 non-null object
dtypes: float64(2), int64(5), object(12)
memory usage: 112.8+ KB
None
---------------------------------------------
Updated Entries: 1
---------------------------------------------
Check for duplication: 0

## Check Duplication:

查 address:

1) 確實有重複的

2) 也有是 一年内 買了兩次

In [30]:
# print(filesaved_sold_df.duplicated(["address","sold_date"]).sum())
# filesaved_sold_df[filesaved_sold_df.duplicated(["address","sold_date"])]

# Suburb Sold Trend: 区域 一年範圍 過去每个月 中价位

## Initialization: Loading saved data

In [13]:
# use r -- to avoid unicode error !
filesaved_sub_soldtrend_path=Path(rf'C:\Users\LEON\test\domain\Sold_Trend_{suburb}.xlsx')
filesaved_sub_soldtrend_df = pd.read_excel(filesaved_sub_soldtrend_path, parse_dates=True)
print(filesaved_sub_soldtrend_df.info())
filesaved_sub_soldtrend_df.tail(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 22 columns):
price_sum             13 non-null int64
price_avg             13 non-null int64
price_median          13 non-null int64
standard_deviation    13 non-null int64
price_min             13 non-null int64
price_10th            13 non-null int64
price_20th            13 non-null int64
price_25th            13 non-null int64
price_30th            13 non-null int64
price_40th            13 non-null int64
price_50th            13 non-null int64
price_60th            13 non-null int64
price_70th            13 non-null int64
price_75th            13 non-null int64
price_80th            13 non-null int64
price_90th            13 non-null int64
price_max             13 non-null int64
num_all               13 non-null int64
num_all_with_price    13 non-null int64
start_date            13 non-null object
end_date              13 non-null object
growth                12 non-null float64
dtypes: float64(1), int64(19), object(2)
memory usage: 2.4+ KB
None

,price_sum,price_avg,price_median,standard_deviation,price_min,price_10th,price_20th,price_25th,price_30th,price_40th,...,price_70th,price_75th,price_80th,price_90th,price_max,num_all,num_all_with_price,start_date,end_date,growth
10,531107980,1707743,1508500,926993,950000,1142500,1211000,1260000,1304000,1380000,...,1787000,1835000,1999000,2500000,11500000,446,311,2020-06-01,2021-05-31,0.0640
11,471514816,1648654,1417800,762532,853000,1120000,1200000,1230500,1282500,1340000,...,1712500,1804250,1902000,2500000,10100000,411,286,2020-05-01,2021-04-30,0.0127
12,439257252,1620876,1400000,771293,853000,1108000,1190000,1210500,1250000,1327000,...,1658888,1788500,1888000,2350000,10100000,392,271,2020-04-01,2021-03-31,NaN

In [71]:
sub_sold_trend_url = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/sold-trend-data"

# GET Request
sub_sold_trend_request = requests.get(sub_sold_trend_url,headers=auth,params={"limit":"50"})
sub_sold_trend_respond = sub_sold_trend_request.json()

if "message" not in sub_sold_trend_respond:

    # save the first call API data to dataframe:
    sub_sold_trend_df = pd.DataFrame.from_dict(sub_sold_trend_respond["data"]["sold_trend_data"]['data']["trend_list"],orient='index')
    sub_sold_updated_df = filesaved_sub_soldtrend_df.append(sub_sold_trend_df)

    sub_sold_updated_df = sub_sold_updated_df.drop_duplicates(subset=["start_date","end_date"],keep="last")
    sub_sold_num_duplication = sub_sold_updated_df.duplicated(["start_date","end_date"]).sum()

    sub_sold_updated_df=sub_sold_updated_df.sort_values(by='start_date', ascending=False)

    # create excel writer object
    writer=pd.ExcelWriter(f'Sold_Trend_{suburb}.xlsx')
    # write dataframe to excel
    sub_sold_updated_df.to_excel(writer, index=False)
    # save the excel
    writer.save()
    print('DataFrame is written successfully to Excel File.')
    print("---------------------------------------------")
    print(sub_sold_updated_df.info())
    print(sub_sold_updated_df.head())
    print("---------------------------------------------")
    print(f"Check for duplication: {sub_sold_num_duplication}")

else:   
    print("ERROR IN RESPOND")

DataFrame is written successfully to Excel File.
---------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 2022-03 to 0
Data columns (total 22 columns):
price_sum             14 non-null int64
price_avg             14 non-null int64
price_median          14 non-null int64
standard_deviation    14 non-null int64
price_min             14 non-null int64
price_10th            14 non-null int64
price_20th            14 non-null int64
price_25th            14 non-null int64
price_30th            14 non-null int64
price_40th            14 non-null int64
price_50th            14 non-null int64
price_60th            14 non-null int64
price_70th            14 non-null int64
price_75th            14 non-null int64
price_80th            14 non-null int64
price_90th            14 non-null int64
price_max             14 non-null int64
num_all               14 non-null int64
num_all_with_price    14 non-null int64
start_date            14 non-null object
end_date              14 non-null object
growth                13 non-null object
dtypes: int64(19), object(3)
memory usage: 2.5+ KB
None
         price_sum  price_avg  price_median  standard_deviation  price_min  \
2022-03  458394589    1666890       1600000              412357     890000
2022-02  465147809    1661243       1580000              429066     890000
2022-01  464780997    1648160       1560000              436936     890000
2021-12  477860297    1642132       1560000              433966     890000
2021-11  445054876    1600917       1517500              407619     890000

         price_10th  price_20th  price_25th  price_30th  price_40th  ...  \
2022-03     1280000     1380000     1405000     1444400     1511200  ...
2022-02     1289000     1374800     1400000     1430000     1500000  ...
2022-01     1265380     1339400     1400000     1405300     1485000  ...
2021-12     1258500     1330000     1390000     1405000     1481500  ...
2021-11     1231400     1317000     1350850     1400000     1450000  ...

         price_70th  price_75th  price_80th  price_90th  price_max  num_all  \
2022-03     1760200     1808000     1850400     2249560    3968000      389
2022-02     1706900     1785000     1836000     2166800    3970000      401
2022-01     1700000     1784250     1834000     2149800    3970000      402
2021-12     1700000     1777250     1830000     2130000    3970000      411
2021-11     1675000     1717250     1785000     2013700    3970000      397

         num_all_with_price  start_date    end_date  growth
2022-03                 275  2021-04-01  2022-03-31  0.0127
2022-02                 280  2021-03-01  2022-02-28  0.0128
2022-01                 282  2021-02-01  2022-01-31       0
2021-12                 291  2021-01-01  2021-12-31   0.028
2021-11                 278  2020-12-01  2021-11-30  0.0117

[5 rows x 22 columns]
---------------------------------------------
Check for duplication: 0

# Other Reports:

### Suburb ABS data

In [28]:
'''
abs_url = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/abs-data"

# GET Request
abs_request = requests.get(abs_url,headers=auth,params={"limit":"50"})
abs_respond=abs_request.json()
abs_respond
'''

'\nabs_url = f"https://api2.aupropertyreport.com/api/suburb/{suburb_search}/abs-data"\n\n# GET Request\nabs_request = requests.get(abs_url,headers=auth,params={"limit":"50"})\nabs_respond=abs_request.json()\nabs_respond\n'

# Sate Auction Summary: 不保存數據！

In [9]:
import datetime
from dateutil import relativedelta

1 st 周末：

In [10]:
today = datetime.datetime.now()
start = today - datetime.timedelta((today.weekday() + 1) % 7)
sat = start + relativedelta.relativedelta(weekday=relativedelta.SA(-1))
sat = sat.strftime("%Y-%m-%d")
sat

'2022-04-09'

2 nd 周末：

In [11]:
sat2 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-2))
sat2 = sat2.strftime("%Y-%m-%d")
sat2

'2022-04-02'

1 年前，同樣星期數：

In [12]:
sat3 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-25))
sat3 = sat3.strftime("%Y-%m-%d")
sat3

'2021-10-23'

In [13]:
sat4 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-51))
sat4 = sat4.strftime("%Y-%m-%d")
sat4

'2021-04-24'

In [14]:
sat5 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-76))
sat5 = sat5.strftime("%Y-%m-%d")
sat5

'2020-10-31'

In [15]:
sat6 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-102))
sat6 = sat6.strftime("%Y-%m-%d")
sat6

'2020-05-02'

In [16]:
sat7 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-127))
sat7 = sat7.strftime("%Y-%m-%d")
sat7

'2019-11-09'

In [17]:
sat8 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-153))
sat8 = sat8.strftime("%Y-%m-%d")
sat8

'2019-05-11'

In [18]:
sat9 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-178))
sat9 = sat9.strftime("%Y-%m-%d")
sat9

'2018-11-17'

In [19]:
sat10 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-204))
sat10 = sat10.strftime("%Y-%m-%d")
sat10

'2018-05-19'

In [20]:
sat11 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-229))
sat11 = sat11.strftime("%Y-%m-%d")
sat11

'2017-11-25'

In [21]:
sat12 = start + relativedelta.relativedelta(weekday=relativedelta.SA(-255))
sat12 = sat12.strftime("%Y-%m-%d")
sat12

'2017-05-27'

In [22]:
date_list=[sat,sat2,sat3,sat4,sat5,sat6,sat7,sat8,sat9,sat10,sat11,sat12]
# state_list=["vic", "nsw", "qld", "sa", "wa", "act", "nt", "tas"]
state_list=["vic", "nsw", "qld"]

In [23]:
date_list

['2022-04-09',
 '2022-04-02',
 '2021-10-23',
 '2021-04-24',
 '2020-10-31',
 '2020-05-02',
 '2019-11-09',
 '2019-05-11',
 '2018-11-17',
 '2018-05-19',
 '2017-11-25',
 '2017-05-27']

如果沒更新：

{'message': 'get_class() expects parameter 1 to be object, null given',
 'status_code': 500}

https://www.aupropertyreport.com/auction-results/

In [24]:

state_auction_summary_url = f"https://api2.aupropertyreport.com/api/state/vic/auction-summary?date={sat}"
# GET Request
state_auction_summary_request = requests.get(state_auction_summary_url,headers=auth,params={"limit":"50"})
state_auction_summary_respond = state_auction_summary_request.json()
state_auction_summary_respond

{'data': {'week': 14,
  'state': 'VIC',
  'auction_date': '2022-04-09',
  'clearance_rate': 73.7,
  'reported': 1027,
  'sold_before_auction': 296,
  'sold_at_auction': 452,
  'sold_after_auction': 9,
  'withdrawn': 39,
  'passed_in': 231,
  'sold': 757,
  'unsold': 270,
  'sum_price': 653007176,
  'median_price': 995000,
  'updated_at': '2022-04-09'}}

### Warning ! Reset File !!

In [25]:
reset_df=pd.DataFrame()
# create excel writer object
writer=pd.ExcelWriter(f'State_Auction_Result.xlsx')
# write dataframe to excel
reset_df.to_excel(writer, index=False)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

DataFrame is written successfully to Excel File.

### Loading File:

In [26]:
# use r -- to avoid unicode error !
filesaved_state_auction_path=Path(rf'C:\Users\LEON\test\domain\State_Auction_Result.xlsx')
filesaved_state_auction_df = pd.read_excel(filesaved_state_auction_path, parse_dates=True)
print(filesaved_state_auction_df.info())
filesaved_state_auction_df.tail(1)

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrameNone

Empty DataFrame
Columns: []
Index: []

In [27]:
temp=[]
for each_state in state_list:
    for date in date_list:
        state_auction_summary_url = f"https://api2.aupropertyreport.com/api/state/{each_state}/auction-summary?date={date}"
        # GET Request
        state_auction_summary_request = requests.get(state_auction_summary_url,headers=auth,params={"limit":"50"})
        state_auction_summary_respond = state_auction_summary_request.json()
        
        if "message" not in state_auction_summary_respond and state_auction_summary_respond["data"]["clearance_rate"]!=0: # skip 0
            temp.append(state_auction_summary_respond["data"])

        else: 
            pass # 如果找不到就不記錄！！注意：不會記錄 0 ！！

    state_auction_df=pd.DataFrame(temp)
    
filesaved_state_auction_df=filesaved_state_auction_df.append(state_auction_df)        

filesaved_state_auction_df = filesaved_state_auction_df.drop_duplicates(subset=["auction_date","state"],keep="last")
num_duplication = filesaved_state_auction_df.duplicated(["auction_date","state"]).sum()

filesaved_state_auction_df=filesaved_state_auction_df.sort_values(by='auction_date', ascending=False)

# create excel writer object
writer=pd.ExcelWriter(f'State_Auction_Result.xlsx')
# write dataframe to excel
filesaved_state_auction_df.to_excel(writer, index=False)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')
print("---------------------------------------------")
print(filesaved_state_auction_df.info())
print("---------------------------------------------")
print(f"Check for duplication: {num_duplication}")

DataFrame is written successfully to Excel File.
---------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 0 to 34
Data columns (total 15 columns):
week                   35 non-null int64
state                  35 non-null object
auction_date           35 non-null object
clearance_rate         35 non-null float64
reported               35 non-null int64
sold_before_auction    35 non-null int64
sold_at_auction        35 non-null int64
sold_after_auction     35 non-null int64
withdrawn              35 non-null int64
passed_in              35 non-null int64
sold                   35 non-null int64
unsold                 35 non-null int64
sum_price              35 non-null int64
median_price           35 non-null int64
updated_at             35 non-null object
dtypes: float64(1), int64(11), object(3)
memory usage: 4.4+ KB
None
---------------------------------------------
Check for duplication: 0

In [28]:
filesaved_state_auction_df.head()

,week,state,auction_date,clearance_rate,reported,sold_before_auction,sold_at_auction,sold_after_auction,withdrawn,passed_in,sold,unsold,sum_price,median_price,updated_at
0,14,VIC,2022-04-09,73.7,1027,296,452,9,39,231,757,270,653007176,995000,2022-04-09
24,14,QLD,2022-04-09,94.4,36,14,20,0,1,1,34,2,34857000,1105000,2022-04-09
12,14,NSW,2022-04-09,73.4,552,250,152,3,83,64,405,147,583673113,1627000,2022-04-09
25,13,QLD,2022-04-02,78.2,55,17,26,0,3,9,43,12,50667000,1460000,2022-04-02
1,13,VIC,2022-04-02,76.5,911,237,455,5,43,171,697,214,567840802,981000,2022-04-02

# Weekly Vic Auction Summary: 保存數據！

In [29]:
import datetime
from dateutil import relativedelta

In [30]:
# use r -- to avoid unicode error !
filesaved_state_auction_weekly_path=Path(rf'C:\Users\LEON\test\domain\State_Auction_Result_VIC_Weekly.xlsx')
filesaved_state_auction_weekly_df = pd.read_excel(filesaved_state_auction_weekly_path, parse_dates=True)
print(filesaved_state_auction_weekly_df.info())
filesaved_state_auction_weekly_df.tail(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 15 columns):
week                   141 non-null int64
state                  141 non-null object
auction_date           141 non-null object
clearance_rate         141 non-null float64
reported               141 non-null int64
sold_before_auction    141 non-null int64
sold_at_auction        141 non-null int64
sold_after_auction     141 non-null int64
withdrawn              141 non-null int64
passed_in              141 non-null int64
sold                   141 non-null int64
unsold                 141 non-null int64
sum_price              141 non-null int64
median_price           141 non-null int64
updated_at             141 non-null object
dtypes: float64(1), int64(11), object(3)
memory usage: 16.6+ KB
None

,week,state,auction_date,clearance_rate,reported,sold_before_auction,sold_at_auction,sold_after_auction,withdrawn,passed_in,sold,unsold,sum_price,median_price,updated_at
140,14,QLD,2021-04-10,100.0,39,10,29,0,0,0,39,0,21852500,795000,2021-04-10

In [31]:
temp=[]
state_list_vic=["vic", "nsw", "qld"]

for each_state in state_list_vic:
    for i in range(1,53):
        today = datetime.datetime.now()
        start = today - datetime.timedelta((today.weekday() + 1) % 7)
        sat = start + relativedelta.relativedelta(weekday=relativedelta.SA(-i))
        sat = sat.strftime("%Y-%m-%d")

        state_auction_summary_url = f"https://api2.aupropertyreport.com/api/state/{each_state}/auction-summary?date={sat}"
        # GET Request
        state_auction_summary_request = requests.get(state_auction_summary_url,headers=auth,params={"limit":"50"})
        state_auction_summary_respond = state_auction_summary_request.json()

        if "message" not in state_auction_summary_respond and "data" in state_auction_summary_respond and state_auction_summary_respond["data"]["clearance_rate"]!=0: # skip 0:  
            temp.append(state_auction_summary_respond["data"])
        else: 
            pass # 如果找不到就不記錄！！注意：不會記錄 0 ！！
        
    state_auction_df=pd.DataFrame(temp)

   
filesaved_state_auction_weekly_df=filesaved_state_auction_weekly_df.append(state_auction_df)        

filesaved_state_auction_weekly_df = filesaved_state_auction_weekly_df.drop_duplicates(subset=["auction_date","state"],keep="last")
num_duplication = filesaved_state_auction_weekly_df.duplicated(["auction_date","state"]).sum()
filesaved_state_auction_weekly_df=filesaved_state_auction_weekly_df.sort_values(by='auction_date', ascending=False)

# create excel writer object
writer=pd.ExcelWriter(f'State_Auction_Result_VIC_Weekly.xlsx')
# write dataframe to excel
filesaved_state_auction_weekly_df.to_excel(writer, index=False)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')
print("---------------------------------------------")
print(filesaved_state_auction_weekly_df.info())
print("---------------------------------------------")
print(f"Check for duplication: {num_duplication}")

DataFrame is written successfully to Excel File.
---------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 144 entries, 94 to 138
Data columns (total 15 columns):
week                   144 non-null int64
state                  144 non-null object
auction_date           144 non-null object
clearance_rate         144 non-null float64
reported               144 non-null int64
sold_before_auction    144 non-null int64
sold_at_auction        144 non-null int64
sold_after_auction     144 non-null int64
withdrawn              144 non-null int64
passed_in              144 non-null int64
sold                   144 non-null int64
unsold                 144 non-null int64
sum_price              144 non-null int64
median_price           144 non-null int64
updated_at             144 non-null object
dtypes: float64(1), int64(11), object(3)
memory usage: 18.0+ KB
None
---------------------------------------------
Check for duplication: 0

In [32]:
state_auction_summary_respond

{'data': {'week': 15,
  'state': 'QLD',
  'auction_date': '2021-04-17',
  'clearance_rate': 94.1,
  'reported': 34,
  'sold_before_auction': 13,
  'sold_at_auction': 19,
  'sold_after_auction': 0,
  'withdrawn': 0,
  'passed_in': 2,
  'sold': 32,
  'unsold': 2,
  'sum_price': 30224201,
  'median_price': 1178000,
  'updated_at': '2021-04-17'}}

In [33]:
state_auction_summary_url

'https://api2.aupropertyreport.com/api/state/qld/auction-summary?date=2021-04-17'

In [34]:
'''
state_auction_summary_url = f"https://api2.aupropertyreport.com/api/state/qld/auction-summary?date=2022-01-22"
# GET Request
state_auction_summary_request = requests.get(state_auction_summary_url,headers=auth,params={"limit":"50"})
state_auction_summary_respond = state_auction_summary_request.json()
state_auction_summary_respond
'''

'\nstate_auction_summary_url = f"https://api2.aupropertyreport.com/api/state/qld/auction-summary?date=2022-01-22"\n# GET Request\nstate_auction_summary_request = requests.get(state_auction_summary_url,headers=auth,params={"limit":"50"})\nstate_auction_summary_respond = state_auction_summary_request.json()\nstate_auction_summary_respond\n'